* {
	background-image: none;
}
window {
	background-color: rgba(0, 0, 0, 0.67)
}
button {
	all: unset;
    color: white;
	background-color: rgba(64, 31, 115, 0.34);
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border-radius: 0px;
	margin: 5px 5px;
}

button:focus, button:active, button:hover {
	background-color: rgba(64, 31, 115, 0.67);
	outline-style: none;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#suspend {
    background-image: image(url("./icons/suspend.png"));
}

#hibernate {
    background-image: image(url("./icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("./icons/shutdown.png"));
}

#reboot {
    background-image: image(url("./icons/reboot.png"));
}

